@page
@model IndexModel

<div class="row text-center">
    <div class="col">
        <p>Check the Bootstrap breakpoint of your device.</p>
        <div class="d-inline d-sm-none">
            <span class="fas fa-mobile-alt fa-5x fa-fw"></span>
            <p>Extra small devices (portrait phones, less than 576px)</p>
        </div>
        <div class="d-none d-sm-block d-md-none">
            <span class="fas fa-mobile-alt fa-5x fa-fw" data-fa-transform="rotate-270"></span>
            <p>Small devices (landscape phones, 576px and up)</p>
        </div>
        <div class="d-none d-md-block d-lg-none">
            <span class="fas fa-tablet-alt fa-5x fa-fw"></span>
            <p>Medium devices (tablets, 768px and up)</p>
        </div>
        <div class="d-none d-lg-block d-xl-none">
            <span class="fas fa-desktop fa-5x fa-fw"></span>
            <p>Large devices (desktops, 992px and up)</p>
        </div>
        <div class="d-none d-xl-block">
            <span class="fas fa-desktop fa-5x fa-fw"></span>
            <p>Extra large devices (large desktops, 1200px and up)</p>
        </div>
    </div>
</div>